.Sidebar {
  flex: 0 0 7rem;
  background-color: white;
  border-right: 1px solid #eee;
}

.SidebarInner {
  padding: 1rem;
  background-color: lavenderblush;
}

@media (max-width: 600px) {
  .Sidebar {
    display: none;
  }
}
